body {
    background-color: #EAC926;
    font-family: Roboto;
    font-size: 12px;
}

.titular {
    font-size: 24px;
}

.precios{
    font-size: 18px;
}

.descuentos{
    font-size: 16px;
}

.descripciones{
    font-size: 16px;
}    


.icono-footer {
    text-align: center;
    font-size: 2em;
    color: #1259c3;
    margin-bottom: 10px;
}

footer {
    text-align: center;
}

.titulo-footer {
    font-size: 16px;
    font-weight: bold;
}

